html {
	background-image: url("resources/background_mp_2.jpg");
}

body {
	margin-right: 200px;
	margin-left: 200px;
	position: relative;
	background-color: white;

}

header {
	position: fixed;
	width: auto;
	height: wrap-content;
	background: white;	

}

nav {
	position: relative;
	width: 100%;
	align-content: center;
}

img {
	margin: 5px;
	border: 5px double black;
	float: right;
}

p {
	font-family: Times New Roman;
	font-size: 120%;
	line-height: 1.5;
}

section {
	align-self: center;
	border: 10px double black;
	padding: 40px;
}

h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: forte;
	font-size: 250%;
	text-align: center;
}

h2 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: forte;
	font-size: 150%;
	text-align: left;
}

a:hover {
	text-decoration: underline;
}

footer {
	background: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 25px;
	align-content: center;
}

.nav_btn {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px; 
	padding-right: 15px;
	margin-right: 5px;
	font-size: 200%;
	color: black;
	font-family: forte;
	text-decoration: none;
	background: white;
	border: 5px double black;
}
ul {
	display: inline-block;
}
ul li{
    display: inline-block;
}

ul li a:hover {
    background-color: #D1C299; 
   }

ul li:hover ul { 
	width: auto;
    display: block;
    align-content: center;
   }

ul ul{
    text-align: center;
    display: none;
    position: absolute;
    background-color: white;
    transform: translateY(-2em);
}

ul ul li{
    display: block;
    padding: 5px;
}

ul ul li a,visited{
    text-decoration: none;
    color: black;
    font-size: 80%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

