@media screen and (min-width: 768px) {

html {
	background-image: url("resources/background_mp_2.jpg");
	animation-name: html_back;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

body {
	width: 70%;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: none;

}

header {
	position: fixed;
	display: inline-block;
	top: 0px;
	width: auto;
	height: wrap-content;
	background: white;	

}

nav {
	position: relative;
	width: 100%;
	height: wrap-content;
	align-content: center;
}

content {
}

img {
	margin: 5px;
	border: 5px double black;
	float: right;
}

figure{
   width:250px; 
   overflow:hidden;
   margin:0;
}
figure img{
   display:block;
   width:100%;
   align-content: center;
}
div p {
	font-size: 85%;
}

p {
	font-family: Times New Roman;
	font-size: 120%;
	line-height: 1.5;
}

section {
	align-self: center;
	margin-top: 85px;
	border: 10px double black;
	padding: 40px;
	background-color: white;
}

h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: forte;
	font-size: 250%;
	text-align: center;
}

h2 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: forte;
	font-size: 150%;
	text-align: left;
}

div a {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: forte;
	color: black;
	font-size: 100%;
	text-align: left;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	display: inline-block;
}
ul li{
    display: inline-block;
}

ul li a:hover {
    transform: scaleX(10);
   }

ul li:hover ul { 
	width: auto;
    display: block;
    align-content: center;
   }

ul ul{
    text-align: center;
    display: none;
    position: absolute;
    background-color: white;
}

ul ul li{
    display: block;
    padding: 5px;
}

ul ul li a{
    text-decoration: none;
    color: black;
    font-size: 80%;
}

ul ul li a:hover {
	animation-name: menu_btn;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

footer {
	background: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 25px;
	align-content: center;
}

.nav_btn {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 15px; 
	padding-right: 15px;
	margin-right: 5px;
	font-size: 200%;
	color: black;
	font-family: forte;
	text-decoration: none;
	background: white;
	border: 5px double black;
}

.nav_btn:hover {
	animation-name: menu_btn;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.cups_bigger_flex {
	display: flex;
	justify-content: space-between;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
	margin-left: 75px;
	margin-top: 5px; 
	padding-bottom: 5px; 
	border: none; 
	padding-right: 10px;
	animation-name: logo_spin;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

.logo:hover {
	animation-play-state: paused;
}

@-webkit-keyframes logo_spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes menu_btn {
	from {
		color: black;
		background-color: white;
	}
	to {
		color: white;
		background-color: black;
	}
}

@-webkit-keyframes html_back {
	from {
		background-image: url("resources/background_mp_2.jpg");
	}
	23% {
		background-image: url("resources/background_mp_2.jpg");
	}
	25% {
		background-image: url("resources/background_mp_3.jpg");
	}
	48% {
		background-image: url("resources/background_mp_3.jpg");
	}
	50% {
		background-image: url("resources/background_mp_4.jpg");
	}
	73% {
		background-image: url("resources/background_mp_4.jpg");
	}
	75% {
		background-image: url("resources/background_mp_5.jpg");
	}
	98% {
		background-image: url("resources/background_mp_5.jpg");
	}
	to {
		background-image: url("resources/background_mp_2.jpg");
	}
}

}

